body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  background-color: bisque;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
button {
  cursor: pointer;
}



body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: Arial, sans-serif;
}

button {
  cursor: pointer;
}
